<div class="root">
  <div class="portfolio-container">
    <section class="left-section">
      <div class="flex-colum-center">
        <img class="avatar" src="edu.jpg" alt="avatar" />
        <H2
          style="
            font-size: larger;
            text-align: center;
            margin-block: 0;
            margin-top: 0.5rem;
          "
          >Edwin Rodriguez</H2
        >
        <p
          style="
            font-size: small;
            text-align: center;
            margin-block: 0;
            margin-bottom: 0.5rem;
          "
        >
          Full-Stack Developer
        </p>
        <div class="flex-row-center gap">
          <img
            src="linkedin.svg"
            style="width: 25px; height: 25px"
            alt="linkedin"
          />
          <img src="gmail.svg" style="width: 25px; height: 25px" alt="gmail" />
          <img
            src="github.svg"
            style="width: 25px; height: 25px"
            alt="github"
          />
          <img
            src="instagram.svg"
            style="width: 25px; height: 25px"
            alt="instagram"
          />
        </div>
        <div>
          <p style="margin: 8px 0px">Edad: 22</p>
          <p style="margin: 8px 0px">Pais: Argentina</p>
          <p style="margin: 8px 0px">Provincia: Santa Cruz</p>
          <p style="margin: 8px 0px">Telefono: +54 2974265169</p>
        </div>
        <div class="flex-colum-center">
          <h2>Habilidades</h2>
          <div class="flex-colum-center gap">
            <img
              src="react.svg"
              style="width: 25px; height: 25px"
              alt="react"
            />
            <img
              src="redux.svg"
              style="width: 25px; height: 25px"
              alt="redux"
            />
            <img
              src="angular.svg"
              style="width: 25px; height: 25px"
              alt="angular"
            />
            <img
              src="javascript.svg"
              style="width: 25px; height: 25px"
              alt="javascript"
            />
            <img
              src="nodejs.svg"
              style="width: 25px; height: 25px"
              alt="nodejs"
            />
            <img
              src="postgresql.svg"
              style="width: 25px; height: 25px"
              alt="postgresql"
            />
            <img src="html.svg" style="width: 25px; height: 25px" alt="html" />
            <img src="css.svg" style="width: 25px; height: 25px" alt="css" />
            <img
              src="tailwindcss.svg"
              style="width: 25px; height: 25px"
              alt="tailwindcss"
            />
            <img
              src="bootstrap.svg"
              style="width: 25px; height: 25px"
              alt="bootstrap"
            />
            <img
              src="figma.svg"
              style="width: 25px; height: 25px"
              alt="figma"
            />
            <img src="git.svg" style="width: 25px; height: 25px" alt="git" />
          </div>
        </div>
        <div class="flex-colum-center">
          <h2>Habilidades Extra</h2>
          <div class="flex-colum-center gap">
            <div
              style="
                width: 30px;
                height: 30px;
                background-color: white;
                border-radius: 50%;
                display: flex;
                justify-content: center;
                align-items: center;
              "
              class="flex-colum-center"
            >
              <img
                src="nextjs.svg"
                style="width: 25px; height: 25px"
                alt="nextjs"
              />
            </div>
            <img
              src="python.svg"
              style="width: 25px; height: 25px"
              alt="python"
            />
            <img
              src="typescript.svg"
              style="width: 25px; height: 25px"
              alt="typescript"
            />
            <img
              src="django.svg"
              style="width: 25px; height: 25px"
              alt="django"
            />
            <img
              src="docker.svg"
              style="width: 25px; height: 25px"
              alt="docker"
            />
            <img
              src="material-ui.svg"
              style="width: 25px; height: 25px"
              alt="material-ui"
            />
            <img src="jira.svg" style="width: 25px; height: 25px" alt="jira" />
          </div>
        </div>
      </div>
    </section>
    <section class="middle-section">
      <div class="hero">
        <div class="opacity flex-colum">
          <div>
            <h1
              style="
                font-size: 3rem;
                margin-block: 0;
                color: #ffffff;
                padding-top: 4rem;
                padding-left: 2rem;
              "
            >
              Soy Edwin Rodriguez
            </h1>
            <h2
              style="
                font-size: 2rem;
                margin-block: 0;
                color: #ffffff;
                margin-top: 1rem;
                padding-left: 2rem;
              "
            >
              Desarrollador Full Stack
            </h2>
          </div>
          <div style="margin-top: 3rem; margin-right: 2rem">
            <p class="description-hero">
              "Un desarrollador no solo construye aplicaciones, <br />sino
              también experiencias duraderas"
            </p>
            <div class="flex-row-center gap" style="margin-top: 4rem">
              <div
                style="
                  width: 150px;
                  height: 40px;
                  background-color: black;
                  border-radius: 15px;
                  justify-content: center;
                "
                class="flex-colum-center"
              >
                <P style="color: #ffffff; cursor: pointer; margin: 0"
                  >CONTACTAME</P
                >
              </div>
              <div
                style="
                  width: 150px;
                  height: 40px;
                  background-color: black;
                  border-radius: 15px;
                  justify-content: center;
                "
                class="flex-colum-center"
              >
                <P style="color: #ffffff; cursor: pointer; margin: 0"
                  >DOWNLOAD CV</P
                >
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-colum-center" style="padding: 2rem">
        <h2>Experiencia Adquirida</h2>
        <div class="flex-row-center gap">
          <div style="min-width: 150px">
            <p style="font-weight: 700; font-size: larger">Andromeda</p>
            <p style="margin: 4px 0">Desarrollador FullStack</p>
            <p style="font-size: small">2023 (oct-nov)</p>
          </div>
          <div class="flex-colum-center">
            <p style="font-size: 1rem">
              Empresa comprometida con la generación de energía limpia,
              incentivando su producción mediante recompensas percibidas en
              criptomonedas.
              <span style="font-weight: 600"
                >(Proyecto mvp que participó en la hackerhaus Argentina
                2023)</span
              >
            </p>
            <p style="margin: 8px 0; font-size: medium">
              Mi principal funcion de este trabajo fue crear wireframes en
              <span style="font-weight: 600">figma</span>, tales como un
              <span style="font-weight: 600"
                >Dashboard, Configuraciones, Graficos y transacciones.</span
              >
              A su vez coopere en su integracion, tanto como en el frontend y en
              el backend.
            </p>
            <div style="display: flex; width: 100%">
              <p style="font-weight: 700; margin-right: 1rem">
                Tecnologias Destacadas:
              </p>
              <div style="display: flex" class="gap">
                <img
                  src="figma.svg"
                  style="width: 25px; height: 25px"
                  alt="figma"
                />
                <img
                  src="react.svg"
                  style="width: 25px; height: 25px"
                  alt="react"
                />
                <img
                  src="redux.svg"
                  style="width: 25px; height: 25px"
                  alt="redux"
                />
                <img
                  src="tailwindcss.svg"
                  style="width: 25px; height: 25px"
                  alt="tailwindcss"
                />
                <img
                  src="python.svg"
                  style="width: 25px; height: 25px"
                  alt="python"
                />
                <img
                  src="typescript.svg"
                  style="width: 25px; height: 25px"
                  alt="typescript"
                />
                <img
                  src="docker.svg"
                  style="width: 25px; height: 25px"
                  alt="docker"
                />
                <img
                  src="git.svg"
                  style="width: 25px; height: 25px"
                  alt="git"
                />
              </div>
            </div>
          </div>
        </div>
        <div class="flex-row-center gap" style="margin-top: 2rem">
          <div style="min-width: 150px">
            <p style="font-weight: 700; font-size: larger">Kromee</p>
            <p style="margin: 4px 0">Desarrollador FullStack</p>
            <p style="font-size: small">2024 (sept-now)</p>
          </div>
          <div class="flex-colum-center">
            <p style="font-size: 1rem">
              Empresa dedicada al desarrollo de software escalable y eficiente.
            </p>
            <p style="margin: 8px 0; font-size: medium">
              Participo en la
              <span style="font-weight: 700"
                >integración fluida del frontend con el back</span
              >
              me aseguro coherencia y rendimiento. Aplicando
              <span style="font-weight: 700">código limpio</span>, buena
              <span style="font-weight: 700"
                >organizacion y estructura de archivos</span
              >, busco la aportacion ideas clave para la evolución del producto.
              Lo que destaco es mi capacidad de
              <span style="font-weight: 700"
                >adaptación a los lenguajes y tecnologías ya establecidas</span
              >
              en el proyecto.
            </p>
            <div style="display: flex; width: 100%">
              <p style="font-weight: 700; margin-right: 1rem">
                Tecnologias Destacadas:
              </p>
              <div style="display: flex" class="gap">
                <img
                  src="react.svg"
                  style="width: 25px; height: 25px"
                  alt="react"
                />
                <img
                  src="javascript.svg"
                  style="width: 25px; height: 25px"
                  alt="javascript"
                />
                <img
                  src="nodejs.svg"
                  style="width: 25px; height: 25px"
                  alt="nodejs"
                />
                <img
                  src="django.svg"
                  style="width: 25px; height: 25px"
                  alt="django"
                />
                <img
                  src="python.svg"
                  style="width: 25px; height: 25px"
                  alt="python"
                />
                <img
                  src="git.svg"
                  style="width: 25px; height: 25px"
                  alt="git"
                />
                <img
                  src="jira.svg"
                  style="width: 25px; height: 25px"
                  alt="jira"
                />
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-colum-center" style="padding: 2rem">
        <h2>Testimonios</h2>
        <div class="flex-row-center">
          <div
            style="
              width: 500px;
              height: 150px;
              display: flex;
              flex-direction: column;
              justify-content: center;
              align-items: center;
            "
          >
            <img
              src="ilich.jfif"
              style="width: 60px; height: 60px; border-radius: 50%"
              alt="ilich"
            />
            <p style="font-weight: 700">Ilich Blanco</p>
            <p style="font-size: small">Director de Andromeda</p>
          </div>
          <div
            style="
              font-size: large;
              height: 150px;
              display: flex;
              align-items: center;
            "
          >
            <p>
              "Edwin Rodríguez es un profesional integral con gran capacidad de
              <span style="font-weight: 700"
                >aprendizaje y resolución de problemas, actitud proactiva y
                colaborativa,</span
              >
              ha sido un apoyo significativo para el desarrollo de nuestro
              proyecto, completando con éxito sus actividades asignadas dentro
              del tiempo establecido. Por lo tanto, responsablemente
              <span style="font-weight: 700"
                >recomiendo el trabajo y aptitudes de Edwin</span
              >, cualquier empresa que lo contrate tendrá un
              <span style="font-weight: 700"
                >excelente profesional pero sobre todo una gran persona.</span
              >"
            </p>
          </div>
        </div>
      </div>
      <div class="flex-colum-center">
        <h2>Proyectos</h2>
        <div class="flex-row-center gap">
          <div
            style="
              cursor: pointer;
              width: 200px;
              height: 250px;
              background: url('brainwave.jpg');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 10px;
            "
          >
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
              "
            >
              <h2 style="color: white">Brainwave</h2>
            </div>
          </div>
          <div
            style="
              cursor: pointer;
              width: 200px;
              height: 250px;
              background: url('starwars.jpg');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 10px;
            "
          >
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
              "
            >
              <h2 style="color: white">Star Wars</h2>
            </div>
          </div>
          <div
            style="
              cursor: pointer;
              width: 200px;
              height: 250px;
              background: url('background.jfif');
              background-size: cover;
              background-position: center;
              background-repeat: no-repeat;
              border-radius: 10px;
            "
          >
            <div
              style="
                display: flex;
                justify-content: center;
                align-items: center;
                width: 100%;
                height: 100%;
                background-color: rgba(0, 0, 0, 0.3);
                border-radius: 10px;
              "
            >
              <h2 style="color: white">Portfolio</h2>
            </div>
          </div>
        </div>
      </div>
      <div class="flex-colum-center" style="margin-bottom: 4rem">
        <h2>Certificados</h2>
        <div style="display: flex" class="gap">
          <img
            (click)="redirectToHenry()"
            src="https://res.cloudinary.com/dqj6dkrug/image/upload/v1693345005/ron8qtwsm5v6qaiemdp0.png"
            alt="certificado"
            style="width: 300px; cursor: pointer"
          />
          <!-- <img
            (click)="redirectToEnglish()"
            src="https://res.cloudinary.com/dqj6dkrug/image/upload/v1693345006/eaoyhxfi9hw8mp1j08dm.png"
            alt="certificado"
            style="width: 400px"
          /> -->
          <img
            (click)="redirectToItc()"
            src="https://res.cloudinary.com/dqj6dkrug/image/upload/v1693345005/lwupo07arkzmwuuhjqqc.png"
            alt="certificado"
            style="width: 300px; cursor: pointer"
          />
          <img
            src="https://res.cloudinary.com/dqj6dkrug/image/upload/v1693345006/mv1lys8u0ncib4tmzmsb.png"
            alt="certificado"
            style="width: 300px; cursor: pointer"
          />
        </div>
      </div>
    </section>
    <div style="width: 80px; height: 800px"></div>
    <section
      class="right-section"
      style="position: fixed; transform: translate(1675%, 0)"
    >
      <div class="dark-mode">
        @if(isDark){
        <img
          (click)="changeBackgroundLight()"
          src="sun.svg"
          style="cursor: pointer; width: 25px; height: 25px; margin-top: 2rem"
          alt="sun"
        />
        }@else{
        <img
          (click)="changeBackgroundDark()"
          src="moon.svg"
          style="cursor: pointer; width: 25px; height: 25px; margin-top: 2rem"
          alt="moon"
        />
        }
      </div>
      <ol>
        <li>
          <img
            src="home.svg"
            style="cursor: pointer; width: 25px; height: 25px; margin-top: 2rem"
            alt="home"
          />
        </li>
        <li>
          <img
            src="experience.svg"
            style="cursor: pointer; width: 25px; height: 25px; margin-top: 2rem"
            alt="experience"
          />
        </li>
        <li>
          <img
            src="recommend.svg"
            style="cursor: pointer; width: 25px; height: 25px; margin-top: 2rem"
            alt="recommend"
          />
        </li>
        <li>
          <img
            src="page.svg"
            style="cursor: pointer; width: 25px; height: 25px; margin-top: 2rem"
            alt="page"
          />
        </li>
        <li>
          <img
            src="certificate.svg"
            style="cursor: pointer; width: 25px; height: 25px; margin-top: 2rem"
            alt="certificate"
          />
        </li>
      </ol>
    </section>
  </div>
</div>
